<footer class="center">
  <div class="measure">
    <small>
    本站{% if site.creator %}由 {{site.creator}} 创建，{% endif %}采用<a href="https://github.com/berchan/pixyll">Pixyll</a>作为主题，
    该主题由 <a href="http://johnotander.com">John Otander</a>创建。同时你可以您可以在 GitHub 找到<a href="https://github.com/berchan/blog">本站源码</a> - &copy; {{site.time | date: "%Y"}}
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
